/*==========================================================  intro =====================================*/

@media screen and (max-width: 980px) {
  .spotlight .image {
    display: none;
  }
}

/* =========================================================  form for intro  ==========================*/
strong {
  font-weight: bold;
  color: #ffffff;
  /* Cambia el color si es necesario */
}
form .form-group {
  margin-bottom: 20px;
  /* Añade un espacio de 20px entre cada campo */
}

/* =========================================================  Icon style intro  ==========================*/

header .fa-github,
header .fa-linkedin,
header .fa-download {
  font-size: 50px;
  margin: 20px 20px;
  border-bottom: none;
}

/* =========================================================  BTS =======================*/
.specialties {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Diseño adaptable */
  gap: 4vw; /* Espacio entre las especialidades */
  margin-top: 20px;
}

.specialty {
  text-align: center; /* Centra el texto y la imagen */
}

.specialty img {
  width: 100%; /* La imagen ocupará el ancho completo de su contenedor */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Rognage de l'image pour conserver les proportions */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*===============================================   image logo  ==============================*/

.image__logo {
  border-radius: 50%;
}
/*=====================================================================  projects section  ================================*/
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.project-card {
  background-color: #f4f4f4;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card .icon {
  font-size: 3em;
  margin-bottom: 10px;
  color: #007bff;
}

.project-card h3 {
  margin: 15px 0;
  font-size: 1.5em;
}

.project-card p {
  color: #666;
}
.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
}

.project-image {
  max-height: 200px; /* Ajuste la hauteur maximale des images */
  object-fit: cover; /* Pour rogner l'image si nécessaire */
  width: 100%;
  border-radius: 10px; /* Ajoute des coins arrondis */
}

/* ==================================  particles section  =========================*/
#particles-js {
  position: fixed; /* Fijo para que ocupe toda la pantalla */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  top: 0; /* Comienza desde la parte superior */
  left: 0; /* Comienza desde la izquierda */
  z-index: -1; /* Detrás del contenido */
  pointer-events: none; /* Para que no interfiera con el clic en otros elementos */
}

/*======================================== Veille Technologique Section ==================================*/
/* veille */
.veille-wrapper {
  display: flex;
  flex-direction: column; /* Coloca cada .veille en una columna */
  margin-top: 10vh;
  gap: 10vh; /* Espacio entre las secciones */
}

.veille {
  display: flex; /* Usa Flexbox para organizar la imagen y el texto */
  align-items: center; /* Centra verticalmente el contenido */
  flex-wrap: wrap; /* Permite que el contenido se envuelva en filas cuando no hay suficiente espacio */
}

.veille-wrapper .veille:nth-child(even) {
  flex-direction: row-reverse; /* Para alternar la posición de la imagen y el texto en secciones impares */
}

.img {
  flex: 1 1 50%; /* La imagen ocupa el 50% del ancho disponible, pero puede reducirse */
  min-width: 300px; /* Ancho mínimo de la imagen para evitar que sea demasiado pequeña */
  max-width: 600px;
}

.veille--text1,
.veille--text2,
.veille--text3,
.veille--text4 {
  flex: 1 1 20%; /* El texto ocupa el 60% del ancho, pero se puede reducir */
  min-width: 300px; /* Ancho mínimo del texto para evitar que colapse demasiado */
  padding: 20px; /* Espaciado interno del texto */
  color: #333; /* Color del texto */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  border-radius: 5px; /* Bordes redondeados */
}

img {
  max-width: 100%; /* Hace que la imagen sea responsiva */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
}
